body {}
h1{
display:none;
}
#gridtime {
	color:white;
	text-align:left;
	background-color:#01a5e4;
	border:0px;
	border-top:2px solid #a5e5ff;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:0px;
	padding-right:0px;
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	}
#listings {
	table-layout:fixed;
	border-collapse: collapse;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	border:2px solid #01a5e4;
	}
#calendarlink{
	display:inline;
	padding:0px;
	margin:0px;
	border:0px;
	overflow:hidden;
	height:20px;
	width:15px;
	white-space:normal;
	background: transparent url(../images/calendar1.gif) no-repeat left center;
	text-decoration:none;
}
#calendarlink span{
	visibility:hidden;
}
table.internal{
	table-layout:auto;
	border-collapse: collapse;
	width:100%;
	margin:0px;
	text-align:left;
	border:0px;
}
td.extendleft{ /*I'm reusing the AOL extenders for this - MeeVee uses the word "Cont'd..."*/
	margin:0px;
	padding:0px;
	border:0px;
	overflow: hidden;
	height:30px;
	width:14px;
	white-space:normal;
	background-image:url(../images/aolextendleft.gif);
	background-repeat:no-repeat;
	background-position:bottom center;
}
td.extendleft span{
	visibility:hidden;
}


td.extendright{ /*I'm reusing the AOL extenders for this - MeeVee doesn't use right-extenders."*/
	margin:0px;
	padding:0px;
	border:0px;
	overflow: hidden;
	height:30px;
	width:14px;
	white-space:normal;
	background-image:url(../images/aolextendright.gif);
	background-repeat:no-repeat;
	background-position:bottom center;
}
td.extendright span{
	visibility:hidden;
}

td.program{
	text-align:left;
	font-family:arial, sans-serif;
	font-size: 8pt;
	font-weight:bold;
	margin:0px;
	padding:1px;
	border:0px;
	overflow: hidden;
	vertical-align:top;
	height:30px;
	width:100%;
	white-space:nowrap;
	color:#666;
}
tr.oddrow td{
	background-color:#e8f5fb;
	}
tr.evenrow td{
	background-color:#F5FCFF;
}

td{
	margin-left:1px;
	padding-left:8px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
	border:1px solid #e6e6e6;
	overflow: hidden;
	vertical-align:top;
	height:30px;
	white-space:nowrap;

	}
td.extendright td.program{
	padding:0px;
	border:0px;
}
td.empty{
	background-image:url(../images/empty.gif);
}
th{
	font-family:arial, sans-serif;
	font-size: 10pt;
	overflow: hidden;
	}

th.channel{
	text-align:center;
	padding:0px;
	overflow: hidden;
	border:1px solid #e6e6e6;
	background-color:white;
	color:black;
	font-size:8pt
	}
tr.timebar{
	background-color:#9FDDF5;
}
th.time{
	text-align:left;
	height: 18px;
	padding:0px;
	margin:0px;
	border:1px solid white;
	text-decoration:none;
	color:black;
	font-size:15px;
	font-weight:bold;
	cursor: pointer;
	}

th.topleftcorner{
	height: 21px;
	padding:2px;
	margin:0px;
	border-left:1px solid white;
	border-bottom:1px solid white;
	border-top:1px solid white;
	border-right:1px solid #9FDDF5;
	background-image:url(../images/meeveeearlier.gif);
	background-repeat:no-repeat;
	background-position:left center;
	text-decoration:none;
	color:black;
	font-size:15px;
	font-weight:bold;
	text-indent:-5000px;
	cursor: pointer;
	}

th.toprightcorner {
	height: 21px;
	padding:2px;
	margin:0px;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-top:1px solid white;
	border-left:1px solid #9FDDF5;
	background-image:url(../images/meeveelater.gif);
	background-repeat:no-repeat;
	background-position:center center;
	text-decoration:none;
	color:black;
	font-size:15px;
	font-weight:bold;
	text-indent:-5000px;
	cursor: pointer;
	}

th.topleftcorner{
	width:100px;
}

th.toprightcorner{
	width:21px;
}

/*Popup*/
.popupheader{
padding: 2px;
border: 2px solid black;
background-color: lightyellow;
color:black;
width: 150px;
Font-Family:'arial';
font-size:11pt;
font-weight:bold;
}

.popupbody{
padding: 2px;
border: 2px solid black;
border-top: 0px;
background-color: lightyellow;
color:black;
width: 150px;
Font-Family:'arial';
font-size:11pt;
font-weight:normal;
}

hr{
	border: 0px;
	background-color: black;
	height:1px;
}
.subtitle{
	font-style:italic;
}
.popupcategorylist{
	list-style:none;
	padding: 0px;
	margin:0px;
}
.starlist{
	list-style: none;
	padding: 0px;
	height: 15px;
	position: relative;
	margin:0px;
}
.starlist li{
	padding:0px;
	margin:0px;
	width:15px;
	height:15px;
	float: left;
}
.starlist li span{
	display:none;
}

.starlist li.starempty{
	background-image:url(../images/starempty.gif);
}
.starlist li.starhalf{
	background-image:url(../images/starhalf.gif);
}
.starlist li.starfilled{
	background-image:url(../images/starfilled.gif);
}

/*End Popup section*/

/* Channel display classes (in this order):*/
/* <-------------------------------------left/rightchanneltable---------------------------------->*/
/* leftlogocell leftnumbercell             / middlecell \           rightnumbercell rightlogocell */
/* <---------------------------------------              ---------------------------------------->*/
/*       leftnumber leftchannelbr leftnbsp channelname rightchannelbr rightnbsp rightnumber       */
.leftchanneltable{
	table-layout:fixed;
	border-collapse: collapse;
	width:100px;
	margin:0px;
	border:0px;
	background-color:transparent;
	padding:0px;
}
.leftchanneltable .leftlogocell{
	width:50px;
	background-color:transparent;
	overflow: visible;
	border:0px;
	height:32px;
	text-align:center;
	vertical-align:bottom;
	padding:0px;
}
.leftchanneltable .leftlogocell img{
	height:30px;
	width:30px;
	text-align:center;
	vertical-align:bottom;
}
.leftchanneltable .leftnumbercell{
	display:none
}
.leftchanneltable .middlecell{
	background-color:transparent;
	padding:0px;
	overflow: visible;
	border:0px;
	vertical-align:middle;
	text-align:center;
}
	.leftchanneltable .leftnumber{font-weight:bold;}
	.leftchanneltable .leftchannelbr{}
	.leftchanneltable .leftnbsp{display:none}
	.leftchanneltable .channelname{font-weight:normal;}
	.leftchanneltable .rightchannelbr{display:none;}
	.leftchanneltable .rightnbsp{display:none;}
	.leftchanneltable .rightnumber{display:none;}
.leftchanneltable .rightlogocell{display:none;}
.leftchanneltable .rightnumbercell{display:none;}

.rightchanneltable{
	table-layout:fixed;
	border-collapse: collapse;
	width:100%;
	margin:0px;
	border:0px;
	background-color:transparent;
	padding:0px;
}
.rightchanneltable .leftlogocell{
	display:none;
}
.rightchanneltable .leftlogocell img{
	display:none;
}
.rightchanneltable .leftnumbercell{
	width:100%;
	background-color:transparent;
	padding:0px;
	overflow: visible;
	border:0px;
	text-align:center;
}
.rightchanneltable .middlecell{display:none;}
.rightchanneltable .rightlogocell{display:none;}
.rightchanneltable .rightnumbercell{display:none;}


/*End Channel display styles*/

/*PREF WINDOW STYLES*/
#menu{
	position: absolute;
	left:50px;
	top:50px;
	z-index:10;
	background-color:#f5fcff;
	border:2px solid #4493d0;
	padding-left:10px;
	padding-right:10px;
}


#menu div
{
	border:1px solid #ccc;
	border-top:0px;
 	width: 400px;
	background-color:white;
	margin:0px 0px 20px 0px;
	position:relative;
	display:block;
	padding: 10px;
}

#menu label,input,select {
	display: block;
	float: left;
	margin-bottom: 2px;
}

#menu label {
	text-align: right;
	width: 175px;
	padding-right: 10px;
	font-family:arial, sans-serif;
	font-size: 8pt;
	font-weight:normal;

}
#menu br {
	clear: left;
}
#preftabs
{
border-bottom: 1px solid #ccc;
margin: 0;
padding-bottom: 19px;
padding-left: 10px;
padding-top:10px;
}

#preftabs ul, #preftabs li
{
display: inline;
list-style-type: none;
margin: 0;
padding: 0;
}

#preftabs a:link, #preftabs a:visited
{
background: #E8EBF0;
border: 1px solid #ccc;
color: #666;
float: left;
font-size: small;
font-weight: normal;
line-height: 14px;
margin-right: 8px;
padding: 2px 10px 2px 10px;
text-decoration: none;
}

#preftabs a:hover { color: #f00; }

.Submit{
	padding:2px 5px 2px 5px;
	margin: 1px;
	float:left;
	color:black;
	text-decoration:none;
	background-color:#d4d0c8;
	border-top:white solid 1px;
	border-left:white solid 1px;
	border-bottom:#404040 solid 1px;
	border-right:#404040 solid 1px;
	text-align:center;
}
/*END PREF WINDOW STUFF*/

#preflink{
	position:absolute;
	top:5px;
	left:5px;
	border:2px solid #999;
	font-family:arial, sans-serif;
	font-size:12pt;
	font-weight:bold;
	background-color:white;
	color:#FBA601;
	text-align:center;
}
#preflink a:link{
	text-decoration:none;
	color:#FBA601;
}
#preflink a:visited{
	text-decoration:none;
	color:#FBA601;
}
#preflink a:hover{
	text-decoration:none;
	color:#FBA601;
}
#preflink a:active{
	text-decoration:none;
	color:#FBA601;
}

#clock, #loading{
	position:absolute;
	top:5px;
	right:5px;
	border:2px solid #999;
	font-family:arial, sans-serif;
	font-size:12pt;
	font-weight:bold;
	background-color:white;
	color:#FBA601;
	text-align:center;
}
#loadingcontainer{
width: 200px;
position: absolute;
left: 50%;
top:30%;
z-index:10;
}
#loading{
position: absolute;
left: -100px;
z-index:10;
display:none;
}
/*FASTDATEPICKER*/
#fastDatePickerTable {
	border-spacing: 0px;
	border-collapse: collapse;
	border: 2px solid black;
	width:auto;
	text-align:left;
	background: white;
}
#fastDatePickerRowYearMonth {
	background: silver;
}
#fastDatePickerRowDaysOfWeek {
	background: #d0d0d0;
}
#fastDatePickerTable td {
	border: 1px solid gray;
	padding: 3px;
	text-align: center;
}
#fastDatePickerCellToday {
	background: #d0d0d0;
}
.fastDatePickerEmphasizedDaysOfWeek {
	background: silver;
}
.fastDatePickerNonSelectableElement {
	color: silver;
}
.fastDatePickerSelectableElement:hover {
	cursor: pointer;
	background: #d0d0d0;
}
/*END FASTDATEPICKER*/

#gridtime select{
	display:inline;
	float:none;
	margin:1px;
}
#hintbox{ /*CSS for pop up hint box */
position:absolute;
top: 0;
background-color: lightyellow;
width: 150px; /*Default width of hint.*/ 
padding: 3px;
border:1px solid black;
font:normal 11px Verdana;
line-height:18px;
z-index:100;
border-right: 3px solid black;
border-bottom: 3px solid black;
visibility: hidden;
}

.hintanchor{ /*CSS for link that shows hint onmouseover*/
display:block;
font-weight: normal;
font-size:8pt;
color: navy;
margin: 3px 8px;
text-decoration: none;
float:right;
}
tr.evenrow td.Goodmovie{
background-color:#FBA601;
}
tr.evenrow td.Goodmovie table td{
background-color:#FBA601;
}
tr.oddrow td.Goodmovie{
background-color:#FBA601;
}
tr.oddrow td.Goodmovie table td{
background-color:#FBA601;
}

tr.evenrow td.Clickable{
color:#01A5E4;
cursor: pointer;
}
tr.evenrow td.Clickable table td{
color:#01A5E4;
cursor: pointer;
}
tr.oddrow td.Clickable{
color:#01A5E4;
cursor: pointer;
}
tr.oddrow td.Clickable table td{
color:#01A5E4;
cursor: pointer;
}

.Newshow{
	border:2px solid #ccc;
}