body {
background-color:#333;
}
h1{
display:none;
}
#gridtime {
	color:white;
	text-align:left;
	background-color:#dee7ef;
	border:0px;
	border-top:1px solid black;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:0px;
	padding-right:0px;
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	}
#barclock{color:black;}
#gobutton{
	background-image:url(../images/titantvgo.gif);
	border:1px solid black;
	padding:0px;
	padding-top:1px;
	padding-bottom:1px;
	font-size:8pt;
	font-family:arial, sans-serif;
	font-weight:bold;
}
#listings {
	table-layout:fixed;
	border-collapse: collapse;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	border:1px solid #D0D0D0;
	}
#calendarlink{
	display:inline;
	padding:0px;
	margin:0px;
	border:0px;
	overflow:hidden;
	height:20px;
	width:15px;
	white-space:normal;
	background: transparent url(../images/calendar1.gif) no-repeat left center;
	text-decoration:none;
}
#calendarlink span{
	visibility:hidden;
}
table.internal{
	table-layout:auto;
	border-collapse: collapse;
	width:100%;
	margin:0px;
	text-align:left;
	border:0px;
	background-color:transparent;
}
td.extendleft{
	text-align:left;
	font-family:arial, sans-serif;
	font-size: 8pt;
	font-weight:bold;
	margin:0px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:8px;
	padding-right:8px;
	border:0px;
	overflow: hidden;
	white-space:normal;
	background-color:transparent;
	color:black;
}


td.extendright{
	text-align:left;
	font-family:arial, sans-serif;
	font-size: 8pt;
	font-weight:bold;
	margin:0px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:8px;
	padding-right:8px;
	border:0px;
	overflow: hidden;
	white-space:normal;
	background-color:transparent;
	color:black;

}
td.program{
	text-align:left;
	font-family:arial, sans-serif;
	font-size: 8pt;
	font-weight:bold;
	margin:0px;
	padding:1px;
	border:0px;
	overflow: hidden;
	vertical-align:top;
	height:30px;
	width:100%;
	background-color:transparent;
	color:black;
}
.Clickable{
color:#BBBBBB;
}
tr.oddrow td{
	}

td{
	margin-left:1px;
	padding-left:8px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
	border:1px solid black;
	overflow: hidden;
	vertical-align:top;
	height:30px;
	background-color:#EDEDED;
	}
td:hover{ background-color:white }
td.Clickable:hover{ background-color:#FFFF00; 	cursor: pointer;}
td.Clickable td:hover{ background-color:#FFFF00; 	cursor: pointer;}

td.extendright td.program{
	padding:0px;
	border:0px;
}
td.empty{
	background-image:url(../images/empty.gif);
}
th{
	font-family:arial, sans-serif;
	}

th.channel{
	text-align:left;
	padding:0px;
	font-weight:normal;
	border:1px solid black;
	background-color: white;
	color:black;
	font-size:8pt
	}
tr.timebar{
	background-color:#DEE7EF;
}
th.time{
	text-align:left;
	padding:0px;
	margin:0px;
	border:1px solid black;
	text-decoration:none;
	color:black;
	font-size:8pt;
	font-weight:bold;
	cursor: pointer;
	}

th.topleftcorner{
	height: 13px;
	width:80px;
	border:1px solid black;
	background-image:url(../images/titantvearlier.gif);
	background-repeat:no-repeat;
	background-position:left center;
	text-decoration:none;
	color:black;
	font-size:12pt;
	font-weight:bold;
	text-indent:-5000px;
	cursor: pointer;
	}

th.toprightcorner {
	height: 13px;
	width:13px;
	border:1px solid black;
	background-image:url(../images/titantvlater.gif);
	background-repeat:no-repeat;
	background-position:right center;
	text-decoration:none;
	color:black;
	font-size:12pt;
	font-weight:bold;
	text-indent:-5000px;
	cursor: pointer;
	}

/*Sports*/
.Sports_non-event{
	background-color:#D2E8DF;
}
.Sports_talk{
	background-color:#D2E8DF;
}
.Sports_event{
	background-color:#D2E8DF;
}
/*End Sports*/

/*Shows*/ /*TitanTV does not separate movies*/
.Nature{
	background-color:#d7ead8;
}
.Action{
	background-color:#FFEC8B;
}
.Martial_arts{
	background-color:#FFEC8B;
}
.Suspense{
	background-color:#FFEC8B;
}
.Drama{
	background-color:#FBF;
}
.Mystery{
	background-color:#FBF;
}
.Crime{
	background-color:#FBF;
}
.Soap{
	background-color:#FFC1C1;
}
.Science_fiction{
	background-color:#BAC8F3;
}
.Crime_drama{
	background-color:#FBF;
}
.Adventure{
	background-color:#FFEC8B;
}
.Romance-comedy, .Comedy-drama, .Sitcom, .Comedy, .Fantasy-comedy{
	background-color:#C5E6FF;
}
.Western{
	background-color:#FFEC8B;
}
.Horror{
	background-color:#DEDBE8;
}
.Fantasy{
	background-color:#FFEC8B;
}
.War{
	background-color:#DEDBE8;
}
.Documentary{
	background-color:#E0DBEF;
}
.Game_show{
	background-color:#FFE4E1;
}
.How-to, .Cooking{
	background-color:#FFE1FF;
}
.Music{
	background-color:#ffe4c4;
}

.News{
	background-color:#eecbad;
}
.Paid_Programming{
	background-color:#CCCCCC;
}
.Talk{
	background-color:#c1cdc1;
}
.Children{
	background-color:#dbf0fc;
}
.Series{}
.Religious{
	background-color:#f3fff0;
}
.Travel{
	background-color:#FFDEAD;
}
/*Popup*/
.popupheader{
padding: 2px;
border: 2px solid black;
background-color: lightyellow;
color:black;
width: 150px;
Font-Family:'arial';
font-size:11pt;
font-weight:bold;
}

.popupbody{
padding: 2px;
border: 2px solid black;
border-top: 0px;
background-color: lightyellow;
color:black;
width: 150px;
Font-Family:'arial';
font-size:11pt;
font-weight:normal;
}

hr{
	border: 0px;
	background-color: black;
	height:1px;
}
.subtitle{
	font-style:italic;
}
.popupcategorylist{
	list-style:none;
	padding: 0px;
	margin:0px;
}
.starlist{
	list-style: none;
	padding: 0px;
	height: 15px;
	position: relative;
	margin:0px;
}
.starlist li{
	padding:0px;
	margin:0px;
	width:15px;
	height:15px;
	float: left;
}
.starlist li span{
	display:none;
}

.starlist li.starempty{
	background-image:url(../images/starempty.gif);
}
.starlist li.starhalf{
	background-image:url(../images/starhalf.gif);
}
.starlist li.starfilled{
	background-image:url(../images/starfilled.gif);
}

/*End Popup section*/

/* Channel display classes (in this order):*/
/* <-------------------------------------left/rightchanneltable---------------------------------->*/
/* leftlogocell leftnumbercell             / middlecell \           rightnumbercell rightlogocell */
/* <---------------------------------------              ---------------------------------------->*/
/*       leftnumber leftchannelbr leftnbsp channelname rightchannelbr rightnbsp rightnumber       */
.leftchanneltable{
	table-layout:fixed;
	border-collapse: collapse;
	width:80px;
	margin:0px;
	border:0px;
	background-color:transparent;
	padding:0px;
	height:100%;
}
.leftchanneltable .leftlogocell{display:none;}
.leftchanneltable .leftnumbercell{display:none;}
.leftchanneltable .middlecell{
	background-color:transparent;
	padding:0px;
	overflow: visible;
	border:0px;
	text-align:center;
	height:100%;
}
	.leftchanneltable .leftnumber{display:none;}
	.leftchanneltable .leftchannelbr{display:none;}
	.leftchanneltable .leftnbsp{display:none}
	.leftchanneltable .channelname{}
	.leftchanneltable .rightchannelbr{display:none;}
	.leftchanneltable .rightnbsp{display:none;}
	.leftchanneltable .rightnumber{display:none;}
.leftchanneltable .rightlogocell{display:none;}
.leftchanneltable .rightnumbercell{
	width:20px;
	background-color:transparent;
	padding:0px;
	overflow: visible;
	border:0px;
	text-align:center;
	height:100%;
}

.rightchanneltable{
	table-layout:fixed;
	border-collapse: collapse;
	width:13px;
	margin:0px;
	border:0px;
	background-color:transparent;
	padding:0px;
}
.rightchanneltable .leftlogocell{
	display:none;
}
.rightchanneltable .leftlogocell img{
	display:none;
}
.rightchanneltable .leftnumbercell{
	width:13px;
	background-color:transparent;
	padding:0px;
	overflow: visible;
	border:0px;
	text-align:center;
}
.rightchanneltable .middlecell{
display:none;}
	.rightchanneltable .leftnumber{display:none;}
	.rightchanneltable .leftchannelbr{display:none;}
	.rightchanneltable .leftnbsp{display:none}
	.rightchanneltable .channelname{display:none;}
	.rightchanneltable .rightchannelbr{display:none;}
	.rightchanneltable .rightnbsp{display:none;}
	.rightchanneltable .rightnumber{display:none;}
.rightchanneltable .rightlogocell{display:none;}
.rightchanneltable .rightnumbercell{display:none;}


/*End Channel display styles*/

/*PREF WINDOW STYLES*/
#menu{
	position: absolute;
	left:50px;
	top:50px;
	z-index:10;
	background-color:white;
	border:2px solid black;
	padding-left:10px;
	padding-right:10px;
}


#menu div
{
	border:1px solid #ccc;
	border-top:0px;
 	width: 400px;
	background-color:white;
	margin:0px 0px 20px 0px;
	position:relative;
	display:block;
	padding: 10px;
}

#menu label,input,select {
	display: block;
	float: left;
	margin-bottom: 2px;
}

#menu label {
	text-align: right;
	width: 175px;
	padding-right: 10px;
	font-family:arial, sans-serif;
	font-size: 8pt;
	font-weight:normal;

}
#menu br {
	clear: left;
}
#preftabs
{
border-bottom: 1px solid #ccc;
margin: 0;
padding-bottom: 19px;
padding-left: 10px;
padding-top:10px;
}

#preftabs ul, #preftabs li
{
display: inline;
list-style-type: none;
margin: 0;
padding: 0;
}

#preftabs a:link, #preftabs a:visited
{
background: #E8EBF0;
border: 1px solid #ccc;
color: #666;
float: left;
font-size: small;
font-weight: normal;
line-height: 14px;
margin-right: 8px;
padding: 2px 10px 2px 10px;
text-decoration: none;
}

#preftabs a:hover { color: #f00; }

.Submit{
	padding:2px 5px 2px 5px;
	margin: 1px;
	float:left;
	color:black;
	text-decoration:none;
	background-color:#d4d0c8;
	border-top:white solid 1px;
	border-left:white solid 1px;
	border-bottom:#404040 solid 1px;
	border-right:#404040 solid 1px;
	text-align:center;
}
/*END PREF WINDOW STUFF*/


#preflink{
	position:absolute;
	top:5px;
	left:5px;
	border:1px solid black;
	font-family:arial, sans-serif;
	font-size:12pt;
	font-weight:bold;
	background-color: #5284b5;
	color:white;
	text-align:center;
}
#preflink a:link{
	text-decoration:none;
	color:white;
}
#preflink a:visited{
	text-decoration:none;
	color:white;
}
#preflink a:hover{
	text-decoration:none;
	color:white;
}
#preflink a:active{
	text-decoration:none;
	color:white;
}

#clock, #loading{
	position:absolute;
	top:5px;
	right:5px;
	border:1px solid black;
	font-family:arial, sans-serif;
	font-size:12pt;
	font-weight:bold;
	background-color: #5284b5;
	color:white;
	text-align:center;
}
#loadingcontainer{
width: 200px;
position: absolute;
left: 50%;
top:30%;
z-index:10;
}
#loading{
position: absolute;
left: -100px;
z-index:10;
display:none;
}
/*FASTDATEPICKER*/
#fastDatePickerTable {
	border-spacing: 0px;
	border-collapse: collapse;
	border: 2px solid black;
	width:auto;
	text-align:left;
	background: white;
}
#fastDatePickerRowYearMonth {
	background: silver;
}
#fastDatePickerRowDaysOfWeek {
	background: #d0d0d0;
}
#fastDatePickerTable td {
	border: 1px solid gray;
	padding: 3px;
	text-align: center;
}
#fastDatePickerCellToday {
	background: #d0d0d0;
}
.fastDatePickerEmphasizedDaysOfWeek {
	background: silver;
}
.fastDatePickerNonSelectableElement {
	color: silver;
}
.fastDatePickerSelectableElement:hover {
	cursor: pointer;
	background: #d0d0d0;
}
/*END FASTDATEPICKER*/

#gridtime select{
	display:inline;
	float:none;
	margin:1px;
}
#hintbox{ /*CSS for pop up hint box */
position:absolute;
top: 0;
background-color: lightyellow;
width: 150px; /*Default width of hint.*/ 
padding: 3px;
border:1px solid black;
font:normal 11px Verdana;
line-height:18px;
z-index:100;
border-right: 3px solid black;
border-bottom: 3px solid black;
visibility: hidden;
}

.hintanchor{ /*CSS for link that shows hint onmouseover*/
display:block;
font-weight: normal;
font-size:8pt;
color: navy;
margin: 3px 8px;
text-decoration: none;
float:right;
}
.Newshow{
border:2px solid black;
}